@model IEnumerable<HRMS.Core.Entities.Department>

@{
    string entityName = "Department";
    ViewData["EntityName"] = "Department";
}

<h2>@entityName Management</h2>

<!-- Create New Record Button -->
<button class="btn btn-primary"
        hx-get="@Url.Action("Create")"
        hx-target="none"
        hx-trigger="click"
        hx-swap="outerHTML">
    Create New @entityName
</button>

<partial name="_MasterList" model="Model" />
