@model HRMS.Web.Models.ViewModels.EmployeeSalaryViewModel

<form>
    <div class="tab-pane active" id="step3">
        <div class="form-group">
            <label for="basicSalary">Basic Salary</label>
            <input type="number" class="form-control" id="basicSalary" />
        </div>
        <button type="button" class="btn btn-secondary prev">Previous</button>
        <button type="button" class="btn btn-primary next">Next</button>
    </div>
</form>