@model IEnumerable<HRMS.Core.Entities.Designation>

@{
    string entityName = "Designation";
    ViewData["EntityName"] = "Designation";
}

<h2>@entityName Management</h2>

    <button class="btn btn-primary" hx-get="@Url.Action("Create")" hx-target="body" hx-swap="beforeend">Create</button>
    <partial name="_MasterList" model="Model" />